/* for navigation bar at the top, taken/modified from this website example
http://d.alistapart.com/css-positioning-101/example_j.html*/
#nav a {
	display: block;
	float: left;
	color: #fff;
	text-decoration: none;
	padding: 0 20px;
	line-height: 50px;
	border-right: 2px solid rgba(0,0,0, .4);
	border-radius:10px;
}
#nav a:hover {
	background: rgba(169,222,24, .8);
	border-radius:10px;
}

#nav { 
	height: 50px;
	background: rgba(169,222,24, 0.5);
	border-radius:10px;
}

#container {
	width: 900px;
	margin: 0 auto;
	background:rgba(255,255,255, 0.65);
	border-radius:10px;
}

#header {
	text-align: center;
	padding: 0px 0px 0px 85px;
	margin-top:20px;
	font-size: 60px;
	color: #004a7f;
	font-weight: bold;
}

#miss_statement {
	position: relative;
	color: #B85B28;
	font-size: 30px;
	width:45%;
	padding: 20px 260px 20px 45px;
}

span {
	font-weight:bold;
}

#comparison {

}

#competition {
	text-decoration:line-through;
	font-size:45px;
	background: #e8f8d7;
	width: 40%;
	padding: 20px;
	float: left;
	border-radius: 10px;
	margin: 0px 20px 30px 200px;
}

#hack_price {
	color: #79c454;
	font-size: 60px;
	margin: 200px 20px 30px 10px;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px
}

html { 
	background: url('http://www.washingtonpost.com/rf/image_606w/2010-2019/WashingtonPost/2011/09/11/Education/Images/graphingcalc.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



#about_box {
	position: absolute;
	top: 275px;
	right: 225px;
	width: 400px;
	height: 500px;
	padding: 0 20px;
	border-top: 5px solid #f95b34;
	background: #fa8366;
	border-radius: 10px;
	
	/*font-size:25px;
	background: white;
	/*border: 1px solid black;
	float: right;
	width: 20%;
	margin: 10px 30px 10px 30px;
	border-radius: 10px;*/
}

#twit_logo {
	margin: 10px;
	width: 50px;
	height:50px;
}